<!DOCTYPE html>
<html>
  <head>
    <title>Covering Letter.</title>
  </head>
  <body>
    <p>
      
      This project is for student enrollment into courses listed by HTA. uses
      html, css, boostraps and python flask framework and MongoDB database
      engine. Please see requirements.txt file for other libraries that will be
      needed. An Object oriented approach was used and few api codes were
      written for testing purpose. Please see routes.py files. An extra page
      named the 'crazy' this page was developed to show what is possible using javascripts and CSS
      implementation.

      Many thanks Okhueleigbe Aigbe

    </p>
  </body>
</html>
